* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    text-decoration: none !important;
}

body {
    font-family: "Ubuntu", sans-serif;
    /* height: 100%; */ 
    width: 100%;
}
/* login */

.brand-login {
    background-image: url(img/authentication_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* home */
nav ul {
    position: absolute;
    list-style: none;
    background-color: #353535;
    align-items: center;
    width: 25%;
    height: 100vh;
    transform: translateX(-80%);
    padding: 0;
    transition: all 1s;
    z-index: -1;
    top: 0px;
}

nav ul li {
    height: 17%;
    width: 100%;
}

input {
    border: none;
}

nav ul li a {
    color: #c1c1c1;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li.menuList:hover {
    background-color: rgb(250, 240, 255);
}

/* Hamburger Menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin-top: -35px;
    z-index: 1500;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    height: 28px;
    width: 40px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(250, 240, 255);
    transition: all 0.5s;
}

/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:last-child {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: white;
}
nav ul.slide {
    transform: translateX(-9%);
    /* opacity: 1; */
}

/* Global Style */
/* .divider-section::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
} */

.height-column{
    height: 300px;
}
.href {
    text-decoration: none;
    color: black;
}

img {
    max-width: 70px;
    max-width: 70px;
}

.cart-button-hover:hover {
    color: #0d6efd;
}

/* Override BS */
.border-delete {
    border: none !important;
}

.tombol {
    cursor: pointer;
}
section{
    margin-top: 40px;
  }
  .cardBrand {
    /* border: none !important; */
    margin: 10px 4px;
    height: 100px !important;
    transition: .6s ease;
  }
  
  .cardBrand:hover {
    transform: scale(1.05);
  }
  
  .card-block {
     padding: 10px;
  }
  
  .scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.scrollcards .cardBrand {
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
  }
  
/* MainNav */

/* Cart */
/* .cart-list{
    overflow-y: scroll;
} */

/* Responsive */
/* @media screen and (max-width: 576px) { */
